{% extends "base.html" %}
{% block content %}

<form method="POST">
    Change password for {{ user.email }}
    <br />
    <div class="form-group">
        <label for="new_password1">Password</label>
        <input type="password" class="form-control" id="new_password1" name="new_password1" placeholder="Enter password"/>
        <small id="passwordHelp" class="form-text text-muted">This should be at least 6 characters</small>
    </div>
    <br />
    <div class="form-group">
        <label for="new_password2">Password (Confirm)</label>
        <input type="password" class="form-control" id="new_password2" name="new_password2" placeholder="Confirm password"/>
    </div>
    <br />
    
    <button type="submit" class="btn btn-secondary">Submit</button> 
</form>

{% endblock %}