{% extends "base.html" %}
{% block content %}

<form action="/event_new" method="POST">

<script>
function country_call() {
  document.getElementById("Country2").value = "DK";
}
</script>

    <!-- Event ID -->
    <div class="mb-3">
        Collecting event ID
        <input type="text" class="form-control" id="ID" aria-describedby="Collecting event ID" placeholder="ID"
            name="ID" value={{ new_ID }} required>
    </div>
    <br>

    <!-- Coordinates -->
    Coordinates
    <div class="row">
        <div class="col mb-1">
            <input type="text" class="form-control" id="Latitude" aria-describedby="Latitude"
                placeholder="Latitude" name="Latitude" required>
        </div>
        <div class="col mb-1">
            <input type="text" class="form-control" id="Longitude" aria-describedby="Longitude"
                placeholder="Longitude" name="Longitude" required>
        </div>
        <div class="col mb-1">
            <input type="text" class="form-control" id="Radius" aria-describedby="Radius"
                placeholder="Radius" name="Radius" required>
        </div>
    </div>
    <br>

    <!-- Button: Get position -->
    <div class="mb-3">
        <input type="button" class="btn btn-secondary" value="Use position" onclick="getLocation()" />
    </div>

    <!-- Locality -->
    Locality
    <div class="mb-1">
        <select class="form-select" id="Country" name="Country">
            {% for country in ctries %}
            {% if country.countryCode == "NO" %}
            <option selected value="{{ country.countryCode }}">{{ country.country }}</option>
            {% else %}
            <option value="{{ country.countryCode }}">{{ country.country }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    {% for i in range(loc|length) %}
    <div class="mb-1">
        <input type="text" class="form-control" id={{loc[i]}} aria-describedby={{loc[i]}} placeholder={{loc[i]}}
            name={{loc[i]}} >
    </div>
    {% endfor %}
    <br>

    <!-- Button 1-->
    <div class="mb-3">
        <button type="button" class="btn btn-secondary" name="stedsnavn" if="stedsnavn" onclick="stedsnavn_call()" >Get locality from
            position</button>
    </div>

    <!-- Eunis habitat -->
    Eunis habitat
    <div class="mb-1">
        <select class="form-control selectpicker" id="eunis" name="eunis" data-live-search="true" >
            <option selected value=""></option>
            {% for level2 in habitat_level2 %}
            <optgroup label="{{ level2 }}">
                {% for habitat in habitats %}
                    {% if habitat.level2 == level2 %}
                    <option value="{{ habitat.eunisCode }}">{{ habitat.habitatName }} ({{ habitat.eunisCode }})</option>
                    {% endif %}
                {% endfor %}
                </optgroup>
            {% endfor %}
        </select>
    </div>
    <br>

    <!-- Substrate -->
    <a class="btn btn-warning mb-3" data-bs-toggle="collapse" href="#substrateCollapse" role="button" aria-expanded="false"
        aria-controls="substrateCollapse">Specify substrate</a>
    <div class="collapse multi-collapse" id="substrateCollapse">
        Substrate name
        <div class="mb-3">
            <input type="text" class="form-control" id="Substrate_name" placeholder="Tussilago farfara"
                name="Substrate_name">
        </div>
        Substrate type
        <div class="mb-3">
            <select class="form-select" id="Substrate_type" aria-label="Substrate type" name="Substrate_type">
                <option value=""></option>
                {% for i in range(substrate_types|length) %}
                <option value="{{ substrate_types[i] }}">{{ substrate_types[i] }}</option>
                {% endfor %}
            </select>
        </div>
        Specific substrate part
        <div class="mb-3">
            <select class="form-select" id="Substrate_part" aria-label="Substrate part"
                name="Substrate_part">
                <option value=""></option>
                {% for i in range(substrate_parts|length) %}
                <option value="{{ substrate_parts[i] }}">{{ substrate_parts[i] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <br />

    <!-- Date -->
    Date
    <div class="row">
        <div class="col mb-3">
            <input type="date" class="form-control" id="Date_1" aria-describedby="Date_1" placeholder="Date_1"
                name="Date_1" >
        </div>
        <div class="col mb-3">
            <input type="date" class="form-control" id="Date_2" aria-describedby="Date_2" placeholder="Date_2"
                name="Date_2" >
        </div>
    </div>

    <!-- Collecting method -->
    Collecting method
    <div class="mb-3">
        <select class="form-select" aria-label="Default select example" name="Collecting_method">
            {% for method in met %}
            <option value={{ method }}>{{ method }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- Collected by -->
    Collected by
    <div class="mb-3">
        <select class="form-select" multiple aria-label="Collected by" name="Collected_by">
            {% for i in leg %}
            {% if i.recordedBy == user.entomologist_name %}
            <option selected value="{{ i.recordedBy }}">{{ i.recordedBy }}</option>
            {% else %}
            <option value="{{ i.recordedBy }}">{{ i.recordedBy }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>

    <!-- Remarks -->
    Remarks
    <div class="mb-3">
        <input type="text" class="form-control" id="Remarks" aria-describedby="Remarks" placeholder="Remarks"
            name="Remarks">
    </div>

    <!-- Button 2-->
    <div class="mb-3">
        <button type="submit" class="btn btn-success" name="action2" onclick="submitForms()"
            value="VALUE2">Submit</button>
    </div>
    <p></p>
</form>


{% endblock %}