{% extends "base.html" %}
{% block content %}

<form action="/event_edit" method="POST">
    <!-- Display event data -->

    {% if event %}


    <dl class="row">
        <dt class="col-sm-3">Collecting-event ID</dt>
        <dd class="col-sm-9"><input type="text" class="form-control" id="eventID" aria-describedby="eventID"
                value="{{event.eventID}}" name="eventID" readonly></dd>
        <p></p>
        <dt class="col-sm-3">Country</dt>
        <dd class="col-sm-9"><input type="text" class="form-control" id="Country" aria-describedby="Country"
                value="{{event.countryCode}}" name="countryCode"></dd>
        <dt class="col-sm-3">State/Province</dt>
        <dd class="col-sm-9"><input type="text" class="form-control" id="stateProvince" aria-describedby="stateProvince"
                value="{{event.stateProvince}}" name="stateProvince"></dd>
        <dt class="col-sm-3">County</dt>
        <dd class="col-sm-9"><input type="text" class="form-control" id="County" aria-describedby="County"
                value="{{event.county}}" name="county"></dd>
        <dt class="col-sm-3">Municipality</dt>
        <dd class="col-sm-9"><input type="text" class="form-control" id="municipality" aria-describedby="municipality"
                value="{{event.municipality}}" name="municipality"></dd>
        <dt class="col-sm-3">Habitat</dt>
        <dd class="col-sm-9"><input type="text" class="form-control" id="habitat" aria-describedby="habitat"
                value="{{event.habitat}}" name="habitat"></dd>
        <dt class="col-sm-3">Locality 1</dt>
        <dd class="col-sm-9"><input type="text" class="form-control" id="locality_1" aria-describedby="locality_1"
                value="{{event.locality_1}}" name="locality_1"></dd>
        <dt class="col-sm-3">Locality 2</dt>
        <dd class="col-sm-9"><input type="text" class="form-control" id="locality_2" aria-describedby="locality_2"
                value="{{event.locality_2}}" name="locality_2"></dd>
        <dt class="col-sm-3">Method</dt>
        <dd class="col-sm-9">
            <select class="form-select" aria-label="samplingProtocol" name="samplingProtocol" >
                {% for method in met %}
                {% if method == event.samplingProtocol %}
                <option selected={{ method }}>{{ method }}</option>
                {% else %}
                <option value={{ method }}>{{ method }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </dd>
        <dt class="col-sm-3">Date 1</dt>
        <dd class="col-sm-9"><input type="date" class="form-control" id="eventDate_1" aria-describedby="eventDate_1"
                value="{{event.eventDate_1}}" name="eventDate_1"></dd>
        <dt class="col-sm-3">Date 2</dt>
        <dd class="col-sm-9"><input type="date" class="form-control" id="eventDate_2" aria-describedby="eventDate_2"
                value="{{event.eventDate_2}}" name="eventDate_2"></dd>
        <dt class="col-sm-3">Recorded by</dt>
        <dd class="col-sm-9">
            <select class="form-select" multiple id="recordedBy" aria-label="recordedBy" name="recordedBy">
                <option selected>{{ event.recordedBy }}</option>
                {% for o in leg %}
                <option value="{{ o.recordedBy }}">{{ o.recordedBy }}</option>
                {% endfor %}
            </select>
        </dd>
    </dl>
    <h5>Coordinates</h5>
    <dl class="row">
        <dt class="col-sm-3">Latitude</dt>
        <dd class="col-sm-9"><input type="text" class="form-control" id="decimalLatitude"
                aria-describedby="decimalLatitude" value="{{event.decimalLatitude}}" name="decimalLatitude"></dd>
        <dt class="col-sm-3">Longitude</dt>
        <dd class="col-sm-9"><input type="text" class="form-control" id="decimalLongitude"
                aria-describedby="decimalLongitude" value="{{event.decimalLongitude}}" name="decimalLongitude"></dd>
        <dt class="col-sm-3">Radius</dt>
        <dd class="col-sm-9"><input type="text" class="form-control" id="coordinateUncertaintyInMeters"
                aria-describedby="coordinateUncertaintyInMeters" value="{{event.coordinateUncertaintyInMeters}}"
                name="coordinateUncertaintyInMeters"></dd>
    </dl>
    <h5>Substrate</h5>
    <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9"><input type="text" class="form-control" id="substrateName" aria-describedby="substrateName"
                value="{{event.substrateName}}" name="substrateName"></dd>
        <dt class="col-sm-3">Part</dt>
        <dd class="col-sm-9">
            <select class="form-select" aria-label="substratePlantPart" id="substratePlantPart"
                name="substratePlantPart">
                <option value=""></option>
                {% for o in substrate_parts %}
                {% if o == event.substratePlantPart %}
                <option selected={{ o }}>{{ o }}</option>
                {% else %}
                <option value={{ o }}>{{ o }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </dd>
        <dt class="col-sm-3">Type</dt>
        <dd class="col-sm-9">
            <select class="form-select" aria-label="substrateType" id="substrateType" name="substrateType">
                <option value=""></option>
                {% for o in substrate_types %}
                {% if o == event.substrateType %}
                <option selected={{ o }}>{{ o }}</option>
                {% else %}
                <option value={{ o }}>{{ o }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </dd>
    </dl>

    <h5>Remarks</h5>
    <div class="mb-3">
        <input type="text" class="form-control" id="eventRemarks" aria-describedby="eventRemarks"
            value="{{event.eventRemarks}}" name="eventRemarks">
    </div>
    <br />
    
    <!-- Show images --> 
    <h5>Images</h5>
    {% for file in files %}
    <br />
    <div class="form-check">
        <label class="form-check-label" for="{{file.id}}_{{file.filename}}" >
                <strong>Image {{loop.index}}</strong>
        </label>
        <input class="form-check-input" type="checkbox" value="CHECKED" id="{{file.id}}_{{file.filename}}" name="{{file.id}}_{{file.filename}}" checked>
    </div>
    <br />
    <dl class="row">
        <dt class="col-sm-3">Category</dt>
        <dd class="col-sm-9"><input type="text" class="form-control" id="{{file.id}}_imageCategory" aria-describedby="imageCategory" value="{{file.imageCategory}}" name="{{file.id}}_imageCategory"></dd>
        <dt class="col-sm-3">Comment</dt>
        <dd class="col-sm-9"><input type="text" class="form-control" id="{{file.id}}_comment" aria-describedby="comment" value="{{file.comment}}" name="{{file.id}}_comment"></dd>
    </dl>
    <img src="static/images/compressed/{{file.filename}}" height="200">
    <br />
    {% endfor %}

    {% endif %}
    
    <br />

    <div class="d-inline mb-3"></div>
    <!-- Button 1: Update -->
    <button type="submit" class="btn btn-success btn-lg" name="action1" value="VALUE1">Update</button>
    <!-- Button 2: Do not update -->
    <button type="submit" class="btn btn-secondary btn-lg" name="action2" value="VALUE2">Cancel</button>
    </div>

</form>

{% endblock %}