{% extends "base.html" %}
{% block content %}

<!-- SIDEBAR -->
<!-- A collapsible sidebar hovering over the left side of the page -->
<div class="collapse width" id="sidebar"
  style="position: fixed;top: 1;left: 0;height: 100%;width: 500px;z-index: 1000;max-height: 80vh;overflow-y: auto;padding: 5px;margin: 0px;border: 0px;">
  <div class="card">
    <!-- FILTERS -->
    <div class="card">
      <div class="card-header">
        <a class="btn" data-bs-toggle="collapse" href="#collapseFilters">
          Filters
        </a>
      </div>
      <!-- Filter collapsible -->
      <div id="collapseFilters" class="collapse">
        <div class="card-body">
          <!-- Filter form -->
          <form action="/" method=post>
            <!-- Identification filters -->
            Identification filters
            <div class="container-fluid">
              <!-- 1. Taxa -->
              <div class="mb-1">
                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#taxa"
                  aria-expanded="true" aria-controls="taxa">
                  Taxa
                </button>
              </div>
              <div class="collapse" id="taxa">
                <div class="mb-1">
                  <select class="form-control selectpicker" id="taxon_name" name="taxon_name" data-live-search="true">
                    <option value=""></option>
                    {% for i in dropdown_names %}
                    <option value="{{ i }};{{ dropdown_ranks[loop.index0] }}">
                      {{ i }} ({{ dropdown_ranks[loop.index0] }})
                    </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <!-- 2. Rank -->
              <div class="mb-1">
                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#rank"
                  aria-expanded="false" aria-controls="rank">
                  Rank
                </button>
              </div>
              <div class="collapse" id="rank">
                <div class="mb-1">
                  <select class="form-control selectpicker" id="taxon_rank" name="taxon_rank">
                    <option value=""></option>
                    {% for i in ranks %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <!-- 3. sex -->
              <div class="mb-1">
                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#sex"
                  aria-expanded="false" aria-controls="sex">
                  Sex
                </button>
              </div>
              <div class="collapse" id="sex">
                <div class="mb-1">
                  <select class="form-control selectpicker" id="sex" name="sex">
                    <option value=""></option>
                    <option value="male">male</option>
                    <option value="female">female</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- Collecting event filters -->
            Collecting event filters
            <div class="container-fluid">
              <!-- 4. Collecting event ID -->
              <div class="mb-1">
                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#event_id"
                  aria-expanded="false" aria-controls="Locality">
                  Collecting event ID
                </button>
              </div>
              <div class="collapse" id="event_id">
                <select class="form-control selectpicker" id="eventID" name="eventID" data-live-search="true">
                  <option value=""></option>
                  {% for i in collecting_events %}
                  <option value="{{ i.eventID }}">{{ i.eventID }} {% if i.municipality %}- {{ i.municipality }}{% endif
                    %} {%
                    if i.locality_1 %}- {{ i.locality_1 }}{% endif %} {% if i.locality_2 %}- {{ i.locality_2 }}{% endif
                    %}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <!-- 5. Locality -->
              <div class="mb-1">
                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#Locality"
                  aria-expanded="false" aria-controls="Locality">
                  Locality
                </button>
              </div>
              <div class="collapse" id="Locality">
                <!-- 5.1 Country -->
                <div class="mb-1">
                  Country
                  <select class="form-control selectpicker" id="country" name="country" data-live-search="true">
                    <option value=""></option>
                    {% for country in countries %}
                    <option value="{{ country }}">{{ country }}</option>
                    {% endfor %}
                  </select>
                </div>
                <!-- 5.2 County -->
                <div class="mb-1">
                  County
                  <select class="form-control selectpicker" id="county" name="county" data-live-search="true">
                    <option value=""></option>
                    {% for county in counties %}
                    <option value="{{ county }}">{{ county }}</option>
                    {% endfor %}
                  </select>
                </div>
                <!-- 5.3 Municipality -->
                <div class="mb-1">
                  Municipality
                  <select class="form-control selectpicker" id="municipality" name="municipality"
                    data-live-search="true">
                    <option value=""></option>
                    {% for municipality in municipalities %}
                    <option value="{{ municipality }}">{{ municipality }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <!-- 6. Habitat -->
              <div class="mb-1">
                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#Habitat"
                  aria-expanded="false" aria-controls="Habitat">
                  Habitat
                </button>
              </div>
              <div class="collapse" id="Habitat">
                <div class="mb-1">
                  <select class="form-control selectpicker" id="eunis" name="eunis" data-live-search="true">
                    <option selected value=""></option>
                    {% for level2 in habitat_level2 %}
                    <optgroup label="{{ level2 }}">
                      {% for habitat in habitats %}
                      {% if habitat.level2 == level2 %}
                      <option value="{{ habitat.eunisCode }}">{{ habitat.habitatName }} ({{
                        habitat.eunisCode }})</option>
                      {% endif %}
                      {% endfor %}
                    </optgroup>
                    {% endfor %}
                  </select>
                  <br>
                </div>
              </div>
              <!-- 7. date -->
              <div class="mb-1">
                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#date"
                  aria-expanded="false" aria-controls="date">
                  Date
                </button>
              </div>
              <div class="collapse" id="date">
                <div class="mb-1">
                  <input type="date" class="form-control" id="date_from" name="date_from" placeholder="From">
                </div>
                <div class="mb-1">
                  <input type="date" class="form-control" id="date_to" name="date_to" placeholder="To">
                </div>
              </div>
              <!-- 8. method -->
              <div class="mb-1">
                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#method"
                  aria-expanded="false" aria-controls="method">
                  Method
                </button>
              </div>
              <div class="collapse" id="method">
                <div class="mb-1">
                  <select class="form-control selectpicker" id="method" name="method">
                    <option value=""></option>
                    {% for method in methods %}
                    <option value="{{ method }}">{{ method }}</option>
                    {% endfor %}

                  </select>
                </div>
              </div>
            </div>
            <!-- 9. Specimen IDs, Unit IDs and drawer-names. QR-codes are decoded and inserted here -->
            QR-code filters
            <div class="container-fluid">
              <!-- 9.1 Specimen labels -->
              <div class="mb-1">
                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#SpecimenIDs"
                  aria-expanded="false" aria-controls="SpecimenIDs">
                  Specimen IDs
                </button>
              </div>
              <div class="collapse" id="SpecimenIDs">
                <div class="mb-3">
                  <textarea type="text" class="form-control" id="occurrence_ids" name="occurrence_ids"
                    placeholder="Insert decoded QR-codes here!"></textarea>
                  <small id="qr-dataHelp" class="form-text text-muted">Decoded QR-codes from
                    specimen-labels</small>
                </div>
              </div>
              <!-- 9.2 Unit IDs -->
              <div class="mb-1">
                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#UnitIDs"
                  aria-expanded="false" aria-controls="UnitIDs">
                  Unit IDs
                </button>
              </div>
              <div class="collapse" id="UnitIDs">
                <div class="mb-3">
                  <textarea type="text" class="form-control" id="unit_ids" name="unit_ids"
                    placeholder="Insert decoded QR-codes here!"></textarea>
                  <small id="qr-dataHelp" class="form-text text-muted">Decoded QR-codes from
                    taxon-labels</small>
                </div>
              </div>
              <!-- 9.3 Drawer IDs -->
              <div class="mb-1">
                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#DrawerName"
                  aria-expanded="false" aria-controls="DrawerName">
                  Drawer name
                </button>
              </div>
              <div class="collapse" id="DrawerName">
                <div class="mb-3">
                  <select class="form-control selectpicker" id="drawer_name" name="drawer_name" data-live-search="true">
                    <option value=""></option>
                    {% for drawer in drawers %}
                    <option value="{{ drawer }}">{{ drawer }}</option>
                    {% endfor %}
                  </select>
                  <small id="qr-dataHelp" class="form-text text-muted">Name of the drawer</small>
                </div>
              </div>
            </div>
            <!-- 10. Dataset filter -->
            <div class="mb-1">
              <a href="#collapseExample" role="button" data-bs-toggle="collapse" data-bs-target="#DatasetFilter"
                aria-expanded="false" aria-controls="DatasetFilter">
                Dataset
              </a>
            </div>
            <div class="collapse" id="DatasetFilter">
              <div class="mb-1">
                <select class="form-control selectpicker" id="datasetfilter" name="datasetfilter">
                  <option value=""></option>
                  {% for dataset in datasets %}
                  <option value="{{ dataset.datasetName }}">{{ dataset.datasetName }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <p></p>
            <!-- buttons -->
            <div class="d-inline mb-3">
              <!-- Submit button -->
              <button type="submit" class="btn btn-success" name="specimen_filter"
                value="specimen_filter">Filter</button>
              <!-- Clear filter button -->
              <button type="submit" class="btn btn-secondary" name="clear_filter" value="clear_filter">Clear
                filter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- DATASETS -->
    <div class="card">
      <div class="card-header">
        <a class="btn" data-bs-toggle="collapse" href="#collapseDatasets">
          Datasets
        </a>
      </div>
      <!-- Dataset collapsible -->
      <div id="collapseDatasets" class="collapse">
        <div class="card-body">
          Alter a dataset by adding or removing selected specimens
          <br>
          <br>
          <div class="mb-1">
            <select class="form-control" id="dataset" name="dataset">
              {% for dataset in datasets %}
              <option value="{{ dataset.datasetName }}">{{ dataset.datasetName }}</option>
              {% endfor %}
            </select>
          </div>
          <small id="dataset-dataHelp" class="form-text text-muted">Select dataset to be
            altered</small>
          <br>
          <br>
          <!-- Buttons to add or remove selected specimens from dataset -->
          <div class="d-inline mb-3">
            <button type="submit" class="btn btn-success" id="add_to_dataset" value="add_to_dataset">Add
              to dataset</button>
            <button type="submit" class="btn btn-secondary" id="remove_from_dataset" value="remove_from_dataset">Remove
              from dataset</button>
          </div>
          <br>
          <br>
          <!-- Dismissible Alert -->
          <div id="responseMessage" class="alert alert-warning fade hide" role="alert">
            <span id="messageContent"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
      </div>
    </div>
    <!-- EXPORT -->
    <div class="card-header">
      <a class="btn" data-bs-toggle="collapse" href="#collapseExport">
        Export
      </a>
    </div>
    <!-- Export collapsible -->
    <div id="collapseExport" class="collapse">
      <div class="card-body">
        <!-- Buttons to export values -->
        <div class="mb-1">
          <button type="button" class="btn btn-success" id="exportEvents" >Export collecting-events</button>
        </div>
        <div class="mb-1">
          <small id="exportEvents-dataHelp" class="form-text text-muted">Export collecting-events in query</small>
        </div>
        <!-- Dismissible Alert -->
        <div id="exportEventMessage" class="alert alert-warning fade hide" role="alert">
          <span id="exportEventMessageContent"></span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    </div>
    <div class="card">

    </div>
  </div>
</div>


<!-- HOVERING TOGGLE BUTTONS -->
<div class="fixed-bottom-left" style="position: fixed;left: 10px;bottom: 10px;z-index: 1030;">
  <!-- Button to toggle the sidebar -->
  <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar">Tools</button>
  <!-- Buttons to toggle between table, map and stat view -->
  <button type="button" class="btn btn-secondary"
    onclick="document.getElementById('mapContainer').style.display = 'block'; document.getElementById('statContainer').style.display = 'none'; document.getElementById('tableContainer').style.display = 'none';">Map</button>
  <button type="button" class="btn btn-secondary"
    onclick="document.getElementById('mapContainer').style.display = 'none'; document.getElementById('statContainer').style.display = 'none'; document.getElementById('tableContainer').style.display = 'block';">Table</button>
  <button type="button" class="btn btn-secondary"
    onclick="document.getElementById('mapContainer').style.display = 'none'; document.getElementById('statContainer').style.display = 'block'; document.getElementById('tableContainer').style.display = 'none';">Metrics</button>
</div>


<!-- MAP -->
<div class="container-fluid" id="mapContainer">
  <div id="map" style="height: 600px;z-index: 10;">
    <!-- leaflet script -->
    <script type="text/javascript">
      // The first parameters are the coordinates of the center of the map, the second parameter is the zoom level
      var map = L.map('map', { fullscreenControl: true }).setView([65, 5], 3);
      // Add leaflet map as a new layer
      var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
      }).addTo(map);
      // It even opens up a popup when you click it!
      {% for event in events %}
      var marker{{ loop.index }} = L.marker([{{ event.decimalLatitude }}, {{ event.decimalLongitude }}]).addTo(map);
      marker{{ loop.index }}.bindPopup('<form action="/event_show" method="post"><input type="text" name="eventID" id="eventID" value="{{ event.eventID }}" hidden><button type="submit" name="action1" value="VALUE1">{{ event.eventID }}</button></form>');
      {% endfor %}
    </script>
  </div>
</div>


<!-- METRICS -->
<div id="statContainer" style="display: none;">
  <!-- Events -->
  <h4 style="text-align: center">Events ({{event_len}})</h4>
  <div class="row flex-nowrap overflow-auto">
    <div class="col-4" id="event_year_plot" style="width: 500px;"></div>
    <div class="col-4" id="event_month_plot" style="width: 500px;"></div>
    <div class="col-4" id="event_method_plot" style="width: 500px;"></div>
    <div class="col-4" id="event_habitat1_plot" style="width: 500px;"></div>
    <div class="col-4" id="event_habitat2_plot" style="width: 500px;"></div>
  </div>

  <!-- Specimens -->
  <h4 style="text-align: center">Specimens ({{occ_len}})</h4>
  <div class="row flex-nowrap overflow-auto">
    <div class="col-4" id="occurrence_year_plot" style="width:500px"></div>
    <div class="col-4" id="occurrence_month_plot" style="width:500px"></div>
    <div class="col-4" id="occurrence_method_plot" style="width:500px"></div>
    <div class="col-4" id="occurrence_taxonRank_plot" style="width:500px"></div>
    <div class="col-4" id="occurrence_order_plot" style="width:500px"></div>
    <div class="col-4" id="occurrence_family_plot" style="width:500px"></div>
    <div class="col-4" id="occurrence_genus_plot" style="width:500px"></div>
    <div class="col-4" id="occurrence_habitat1_plot" style="width: 500px;"></div>
    <div class="col-4" id="occurrence_habitat2_plot" style="width: 500px;"></div>
  </div>

  <!-- Taxa -->
  <h4 style="text-align: center">Taxa ({{taxa_len}})</h4>
  <div class="row flex-nowrap overflow-auto">
    <div class="col-4" id="taxa_year_plot" style="width:500px"></div>
    <div class="col-4" id="met_taxon_count_plot" style="width:500px"></div>
    <div class="col-4" id="taxa_taxonRank_plot" style="width:500px"></div>
    <div class="col-4" id="taxa_order_plot" style="width:500px"></div>
    <div class="col-4" id="taxa_family_plot" style="width:500px"></div>
  </div>
</div>


<!-- TABLE -->
<div id="tableContainer" style="display: none;">
  <div class="table-responsive">
    <table class="table table table-hover" id="specimen-table"
      style="white-space: nowrap; font-family: Verdana; font-weight: normal; font-style: normal;">
      <thead>
        <tr style="font-size: smaller;">
          <th><input type="checkbox" id="select-all"></th> <!-- Select all checkboxes in table-->
          <th>Specimen page</th>
          <th>Event page</th>
          <th>Rank</th>
          <th>Taxon</th>
          <th>Sex</th>
          <th>Det.</th>
          <th>Country</th>
          <th>Municipality</th>
          <th>Locality</th>
          <th>Habitat</th>
          <th>Eunis habitat</th>
          <th>Date</th>
          <th>Method</th>
          <th>Leg.</th>
        </tr>
      </thead>
      <tbody>
        {% for rank in ranks %}
        {% for occurrence in occurrences %}
        {% if occurrence.taxonRank == rank %}
        <tr>
          <!-- Checkbox 
          <td><input type="checkbox" class="row-checkbox"> </td>-->
          <td>{{occurrence.occurrenceID}}</td>
          <!-- Specimen -->
          <td><a class="btn btn-outline-dark btn-sm"
              href="{{ url_for('specimens.specimen_view', occurrence_id=occurrence.occurrenceID) }}" role="button"
              style="width: 120px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{occurrence.occurrenceID}}</a>
          </td>
          <!-- Event-ID -->
          <td>
            <form action="/event_show" method="post">
              <input type="text" name="eventID" id="eventID" value="{{ occurrence.eventID }}" hidden>
              <button type="submit" class="btn btn-outline-dark btn-sm" name="action1" value="VALUE1"
                style="width: 120px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{
                occurrence.eventID }}</button>
            </form>
          </td>
          <!-- Taxon rank -->
          <td>{{ occurrence.taxonRank }}</td>
          <!-- Taxon -->
          <td>{{ occurrence.scientificName | scn_italic (occurrence.taxonRank,
            occurrence.scientificNameAuthorship) | safe }} {{occurrence.scientificNameAuthorship |
            if_present}} {% if occurrence.identificationQualifier %},
            {{occurrence.identificationQualifier}}{% endif %}</td>
          <!-- Sex -->
          <td>{{ occurrence.sex | if_present }}</td>
          <!-- Identified by -->
          <td>{{ occurrence.identifiedBy }}, {{ occurrence.dateIdentified | string_to_date |
            date_format("%B
            %Y") }}</td>
          <!-- Country -->
          <td>{{ occurrence.country | if_present }}</td>
          <!-- Municipality -->
          <td>{{ occurrence.municipality | if_present }}</td>
          <!-- Locality -->
          <td>{{ occurrence.locality_1 | locality_format(occurrence.locality_2) }}</td>
          <!-- Habitat -->
          <td>
            {% if occurrence.substrateName %}
            <i>{{ occurrence.substrateName|scn_format}}</i>-{{ occurrence.substratePlantPart }}-{{
            occurrence.substrateType }}
            {% elif occurrence.habitat %}
            {{ occurrence.habitat }}
            {% endif %}
          </td>
          <!-- Eunis habitat -->
          <td>{{ occurrence.habitatName | if_present }} ({{ occurrence.eunisCode | if_present }})</td>
          <!-- Date -->
          <td>{{ occurrence.eventDate_1 | format_dates(occurrence.eventDate_2) | striptags }}</td>
          <!-- Method -->
          <td>{{ occurrence.samplingProtocol | if_present }}</td>
          <!-- Collected by -->
          <td>{{ occurrence.recordedBy | leg_format | if_present | safe }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- trailing space -->
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>

<script>
  // METRICS
  // Plot function with Plotly
  function myBarplot(myplot, orient, type, title, yArray, xArray) {
    let data
    if (type == "pie") {
      data = [{ labels: xArray, values: yArray, type: type, orientation: orient, marker: { color: "rgba(0,0,255,0.6)" }, textinfo: 'none' }];
    } else {
      data = [{ x: xArray, y: yArray, type: type, orientation: orient, marker: { color: "rgba(0,0,255,0.6)" } }];
    }
    const layout = { title: title, showlegend: false };
    return Plotly.newPlot(myplot, data, layout, { displayModeBar: false });
  }
  // Call the barplot function for each plot
  myBarplot("event_year_plot", "v", "bar", "Year", {{ event_year["count"] }}, {{ event_year["label"] | safe }})
  myBarplot("event_month_plot", "v", "bar", "Month", {{ event_month["count"] }}, {{ event_month["label"] | safe }})
  myBarplot("event_method_plot", "v", "bar", "Method", {{ event_method["count"] }}, {{ event_method["label"] | safe }})
  myBarplot("event_habitat1_plot", "v", "bar", "Habitat (level 1)", {{ event_habitat1["count"] }}, {{ event_habitat1["label"] | safe }})
  myBarplot("event_habitat2_plot", "v", "pie", "Habitat (level-2)", {{ event_habitat2["count"] }}, {{ event_habitat2["label"] | safe }})
  myBarplot("occurrence_year_plot", "v", "bar", "Year", {{ occurrence_year["count"] }}, {{ occurrence_year["label"] | safe }})
  myBarplot("occurrence_month_plot", "v", "bar", "Month", {{ occurrence_month["count"] }}, {{ occurrence_month["label"] | safe }})
  myBarplot("occurrence_method_plot", "v", "bar", "Method", {{ occurrence_method["count"] }}, {{ occurrence_method["label"] | safe }})
  myBarplot("occurrence_habitat1_plot", "v", "bar", "Habitat (level 1)", {{ occurrence_habitat1["count"] }}, {{ occurrence_habitat1["label"] | safe }})
  myBarplot("occurrence_habitat2_plot", "v", "pie", "Habitat (level-2)", {{ occurrence_habitat2["count"] }}, {{ occurrence_habitat2["label"] | safe }})
  myBarplot("occurrence_order_plot", "v", "bar", "Order", {{ occurrence_order["count"] }}, {{ occurrence_order["label"] | safe }})
  myBarplot("occurrence_family_plot", "v", "pie", "Family", {{ occurrence_family["count"] }}, {{ occurrence_family["label"] | safe }})
  myBarplot("occurrence_genus_plot", "v", "pie", "Genus", {{ occurrence_genus["count"] }}, {{ occurrence_genus["label"] | safe }})
  myBarplot("occurrence_taxonRank_plot", "v", "bar", "Identification level", {{ occurrence_taxonRank["count"] }}, {{ occurrence_taxonRank["label"] | safe }})
  myBarplot("taxa_year_plot", "v", "bar", "Year", {{ taxa_year["count"] }}, {{ taxa_year["label"] | safe }})
  myBarplot("met_taxon_count_plot", "v", "bar", "Method", {{ met_taxon_count["count"] }}, {{ met_taxon_count["label"] | safe }})
  myBarplot("taxa_taxonRank_plot", "v", "bar", "Identification level", {{ taxa_taxonRank["count"] }}, {{ taxa_taxonRank["label"] | safe }})
  myBarplot("taxa_family_plot", "v", "pie", "Family", {{ taxa_family["count"] }}, {{ taxa_family["label"] | safe }})
  myBarplot("taxa_order_plot", "v", "bar", "Order", {{ taxa_order["count"] }}, {{ taxa_order["label"] | safe }})

  

  // CHECKBOXES
  // Function to select all checkboxes by clicking the header checkbox
  $(document).ready(function () {
    // Initiate the datatable. The first row of the table is not searchable or orderable, and is a checkbox
    var table = $('#specimen-table').DataTable({
      'columnDefs': [{
        'targets': 0,
        'searchable': false,
        'orderable': false,
        'className': 'dt-body-center',
        'render': function (data, type, full, meta) {
          return '<input type="checkbox" class="row-checkbox" value="' + full[0] + '">'; // full[0] is the first column of the table, it includes the occurrenceID
        }
      }],
      'order': [[1, 'asc']]
  });
    
  var checkboxStates = {};  
        // Handle the select-all checkbox
        $('#select-all').on('click', function () {
            var rows = table.rows({ 'search': 'applied' }).nodes();
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
            var isChecked = this.checked;
            table.rows({ 'search': 'applied' }).every(function () {
                var data = this.data();
                var id = data[0]; // The unique Occurrence-ID is in the first index
                checkboxStates[id] = isChecked;
            });
        });
    
        // Handle checkbox change and update state object
        $('#specimen-table tbody').on('change', 'input[type="checkbox"]', function () {
            var row = $(this).closest('tr');
            var data = table.row(row).data();
            var id = data[0]; // The unique Occurrence-ID is in the first index
            checkboxStates[id] = this.checked;
        });

      // Function to collect data from selected checkboxes
      function getSelectedCheckboxValues() {
      var selected = [];
      for (var id in checkboxStates) {
              if (checkboxStates[id]) {
                    selected.push(id);
                }
            }
    return selected;
  };
  

    // Send values to be added to dataset
    $('#add_to_dataset').on('click', function () {
      var datasetName = $('#dataset').val();
      var selectedValues = getSelectedCheckboxValues();
      // AJAX request to send data to the server
      $.ajax({
        url: '/add_to_dataset', // The URL to the server
        type: 'POST', // Use POST method for sending data
        data: JSON.stringify({ ids: selectedValues, datasetName: datasetName }), // Send selectedValues as JSON
        contentType: 'application/json', // Content type must be set to application/json
        success: function (response) {
          // Set the text of the span inside the alert
          $('#messageContent').text(response.message);
          // Show the alert by adding 'show' class and removing 'hide'
          $('#responseMessage').addClass('show').removeClass('hide');
        },
        error: function (xhr, status, error) {
          // Set error text and show the alert
          $('#messageContent').text('Error: ' + error);
          $('#responseMessage').addClass('show').removeClass('hide');
        }
      });
    });
    // Send values to be removed from dataset
    $('#remove_from_dataset').on('click', function () {
      var datasetName = $('#dataset').val();
      var selectedValues = getSelectedCheckboxValues();
      // AJAX request to send data to the server
      $.ajax({
        url: '/remove_from_dataset', // The URL to the server
        type: 'POST', // Use POST method for sending data
        data: JSON.stringify({ ids: selectedValues, datasetName: datasetName }), // Send selectedValues as JSON
        contentType: 'application/json', // Content type must be set to application/json
        success: function (response) {
          // Set the text of the span inside the alert
          $('#messageContent').text(response.message);
          // Show the alert by adding 'show' class and removing 'hide'
          $('#responseMessage').addClass('show').removeClass('hide');
        },
        error: function (xhr, status, error) {
          // Set error text and show the alert
          $('#messageContent').text('Error: ' + error);
          $('#responseMessage').addClass('show').removeClass('hide');
        }
      });
    });
  });

  $('#exportEvents').on('click', function () {
  var exportEventIDs = {{ event_ids|tojson }};
  console.log(exportEventIDs);

  $.ajax({
    url: '/export_events',
    type: 'POST',
    contentType: 'application/json',
    data: JSON.stringify({ ids: exportEventIDs }),
    xhrFields: {
      responseType: 'blob'
    },
    success: function (response, status, xhr) {
      var filename = "";
      var disposition = xhr.getResponseHeader('Content-Disposition');
      if (disposition && disposition.indexOf('attachment') !== -1) {
        var matches = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/.exec(disposition);
        if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
      }
      var type = xhr.getResponseHeader('Content-Type');

      var blob = new Blob([response], { type: type });
      if (typeof window.navigator.msSaveBlob !== 'undefined') {
        // IE workaround
        window.navigator.msSaveBlob(blob, filename);
      } else {
        var URL = window.URL || window.webkitURL;
        var downloadUrl = URL.createObjectURL(blob);

        if (filename) {
          // use HTML5 a[download] attribute to specify filename
          var a = document.createElement("a");
          // safari doesn't support this yet
          if (typeof a.download === 'undefined') {
            window.location = downloadUrl;
          } else {
            a.href = downloadUrl;
            a.download = filename;
            document.body.appendChild(a);
            a.click();
          }
        } else {
          window.location = downloadUrl;
        }

        setTimeout(function () { URL.revokeObjectURL(downloadUrl); }, 100); // cleanup
      }
    },
    error: function (xhr, status, error) {
      $('#exportEventMessageContent').text('Error: ' + error);
      $('#exportEventMessage').addClass('show').removeClass('hide');
    }
  });
});


</script>

{% endblock %}