{% extends "base.html" %}
{% block content %}

<!-- Leaflet -->
<div id="map" style="height: 350px;"></div>

<!-- leaflet script -->
<script type="text/javascript">
    // The first parameters are the coordinates of the center of the map, the second parameter is the zoom level
    var map = L.map('map', {fullscreenControl: true}).setView([60,0], 2);
    // Add leaflet map as a new layer
    var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
    }).addTo(map);
    // It even opens up a popup when you click it!
    {% for event in events %}
    var marker{{ loop.index }} = L.marker([{{ event.decimalLatitude }}, {{ event.decimalLongitude }}]).addTo(map);
    marker{{ loop.index }}.bindPopup('<form action="/event_show" method="post"><input type="text" name="eventID" id="eventID" value="{{ event.eventID }}" hidden><button type="submit" name="action1" value="VALUE1">{{ event.eventID }}</button></form>');
    {% endfor %}
</script>

<br />

<!-- Graphs -->
<!-- Events -->
<h4 style="text-align: center">Events ({{event_len}})</h4>
<div class="row flex-nowrap overflow-auto">
<div class="col-4" id="event_year_plot" style="width: 500px;"></div>
<div class="col-4" id="event_month_plot" style="width: 500px;"></div>
<div class="col-4" id="event_method_plot" style="width: 500px;"></div>
<div class="col-4" id="event_habitat1_plot" style="width: 500px;"></div>
<div class="col-4" id="event_habitat2_plot" style="width: 500px;"></div>
</div>

<!-- Specimens -->
<h4 style="text-align: center">Specimens ({{occ_len}})</h4>
<div class="row flex-nowrap overflow-auto">
<div class="col-4" id="occurrence_year_plot" style="width:500px"></div>
<div class="col-4" id="occurrence_month_plot" style="width:500px"></div>
<div class="col-4" id="occurrence_method_plot" style="width:500px"></div>
<div class="col-4" id="occurrence_taxonRank_plot" style="width:500px"></div>
<div class="col-4" id="occurrence_order_plot" style="width:500px"></div>
<div class="col-4" id="occurrence_family_plot" style="width:500px"></div>
<div class="col-4" id="occurrence_genus_plot" style="width:500px"></div>
<div class="col-4" id="occurrence_habitat1_plot" style="width: 500px;"></div>
<div class="col-4" id="occurrence_habitat2_plot" style="width: 500px;"></div>
</div>

<!-- Taxa -->
<h4 style="text-align: center">Taxa ({{taxa_len}})</h4>
<div class="row flex-nowrap overflow-auto">
<div class="col-4" id="taxa_year_plot" style="width:500px"></div>
<div class="col-4" id="met_taxon_count_plot" style="width:500px"></div>
<div class="col-4" id="taxa_taxonRank_plot" style="width:500px"></div>
<div class="col-4" id="taxa_order_plot" style="width:500px"></div>
<div class="col-4" id="taxa_family_plot" style="width:500px"></div>
</div>




<!-- Plotly script -->
<script>
function myBarplot(myplot, orient, type, title, yArray, xArray) {
  let data
  if (type == "pie") {
    data = [{labels:xArray, values:yArray, type:type, orientation:orient, marker:{color:"rgba(0,0,255,0.6)"},
  textinfo: 'none'}];
  } else {
    data = [{x:xArray, y:yArray, type:type, orientation:orient, marker:{color:"rgba(0,0,255,0.6)"}}];
  }
  const layout = {title:title, showlegend: false};
  return Plotly.newPlot(myplot, data, layout, {displayModeBar: false});
}

myBarplot("event_year_plot", "v", "bar", "Year", {{ event_year["count"] }}, {{ event_year["label"] | safe }})
myBarplot("event_month_plot", "v", "bar", "Month", {{ event_month["count"] }}, {{ event_month["label"] | safe }})
myBarplot("event_method_plot", "v", "bar", "Method", {{ event_method["count"] }}, {{ event_method["label"] | safe }})
myBarplot("event_habitat1_plot", "v", "bar", "Habitat (level 1)", {{ event_habitat1["count"] }}, {{ event_habitat1["label"] | safe }})
myBarplot("event_habitat2_plot", "v", "pie", "Habitat (level-2)", {{ event_habitat2["count"] }}, {{ event_habitat2["label"] | safe }})
myBarplot("occurrence_year_plot", "v", "bar", "Year", {{ occurrence_year["count"] }}, {{ occurrence_year["label"] | safe }})
myBarplot("occurrence_month_plot", "v", "bar", "Month", {{ occurrence_month["count"] }}, {{ occurrence_month["label"] | safe }})
myBarplot("occurrence_method_plot", "v", "bar", "Method", {{ occurrence_method["count"] }}, {{ occurrence_method["label"] | safe }})
myBarplot("occurrence_habitat1_plot", "v", "bar", "Habitat (level 1)", {{ occurrence_habitat1["count"] }}, {{ occurrence_habitat1["label"] | safe }})
myBarplot("occurrence_habitat2_plot", "v", "pie", "Habitat (level-2)", {{ occurrence_habitat2["count"] }}, {{ occurrence_habitat2["label"] | safe }})
myBarplot("occurrence_order_plot", "v", "bar", "Order", {{ occurrence_order["count"] }}, {{ occurrence_order["label"] | safe }})
myBarplot("occurrence_family_plot", "v", "pie", "Family", {{ occurrence_family["count"] }}, {{ occurrence_family["label"] | safe }})
myBarplot("occurrence_genus_plot", "v", "pie", "Genus", {{ occurrence_genus["count"] }}, {{ occurrence_genus["label"] | safe }})
myBarplot("occurrence_taxonRank_plot", "v", "bar", "Identification level", {{ occurrence_taxonRank["count"] }}, {{ occurrence_taxonRank["label"] | safe }})
myBarplot("taxa_year_plot", "v", "bar", "Year", {{ taxa_year["count"] }}, {{ taxa_year["label"] | safe }})
myBarplot("taxa_order_plot", "v", "bar", "Order", {{ taxa_order["count"] }}, {{ taxa_order["label"] | safe }})
myBarplot("taxa_family_plot", "v", "pie", "Family", {{ taxa_family["count"] }}, {{ taxa_family["label"] | safe }})
myBarplot("taxa_taxonRank_plot", "v", "bar", "Identification level", {{ taxa_taxonRank["count"] }}, {{ taxa_taxonRank["label"] | safe }})
myBarplot("met_taxon_count_plot", "v", "bar", "Method", {{ met_taxon_count["count"] }}, {{ met_taxon_count["label"] | safe }})
</script>

{% endblock %}