{% extends "base.html" %}
{% block content %}
<!-- Buttons -->
<div class="d-inline mb-3">
  <a class="btn btn-secondary btn-lg" href="/landmark_dataset/" role="button">Back to dataset</a>
  <a class="btn btn-warning btn-lg" href="/add_to_database/{{datasetName}}/{{filename}}/{{landmark}}/0/" role="button">Cannot place landmark</a> 
</div>
<p></p>
<!-- Image with ismap function -->
<a href="/add_to_database/{{datasetName}}/{{filename}}/{{landmark}}/1/">
  <!-- ismap makes image clickable, sends pixel coordinates to server -->
  <img src="/{{dir_path}}/{{filename}}" width="1500" style="padding: 0px;" ismap/>
</a>
{% endblock %}
