{% extends "base.html" %}
{% block content %}

<form action="/new_event" method="POST">
        
      <p>Collecting event ID</p>
      <div class="mb-3">
        <input type="text" class="form-control" id="ID" aria-describedby="Collecting event ID" placeholder="ID" name="ID" value={{ new_ID }} required >
      </div>
      <br>
        
      <p>Coordinates</p>      
      <div class="row">
          {% for i in range(latlon|length) %}
          <div class="col mb-1">
              <input type="text" class="form-control" id={{latlon[i]}} aria-describedby={{latlon[i]}} placeholder={{latlon[i]}} name={{latlon[i]}} value="{{LATLON[i]}}" required >
          </div>
          {% endfor %}
      </div>            
      <br>


      <!-- Button: Get position -->
      <div class="mb-3">
          <input type="button" class="btn btn-secondary" value="Use position" onclick="getLocation()" />
      </div>
        

      <!-- Locality -->
      <p>Locality</p>
          <div class="mb-1">
              <input type="text" class="form-control" id="Country" aria-describedby="Country" placeholder="Country code" name="Country" value="no" required>
          </div>
          {% for i in range(loc|length) %}
          <div class="mb-1">
              <input type="text" class="form-control" id={{loc[i]}} aria-describedby={{loc[i]}} placeholder={{loc[i]}} name={{loc[i]}} value="{{LOC[i]}}" >
          </div>
          {% endfor %}
      <br>
        
      <!-- Button 1-->
      <div class="mb-3">
          <button type="submit" class="btn btn-secondary" name="action1" value="VALUE1" >Get locality from position</button>
      </div>
      <p>{{ strand_id }}</p>
           
      <p>Date</p>
      <div class="row">
      {% for i in range(date|length) %}
      <div class="col mb-3">
        <input type="date" class="form-control" id={{date[i]}} aria-describedby={{date[i]}} placeholder={{date[i]}} name={{date[i]}} value={{DATE[i]}}>
      </div>
      {% endfor %}
      </div>
              
      <p>Collecting method</p>
      <div class="mb-3">
      <select class="form-select" aria-label="Default select example" name="Collecting_method">
          {% for i in met %}
          <option value={{ i.ID }}>{{ i.samplingProtocol }}</option>
          {% endfor %}
      </select>
      </div>

      <p>Collected by</p>
      <div class="sm-3">
      <select class="from-select" multiple aria-label="Collected by" name="Collected_by">
          {% for i in leg %}
          <option value="{{ i.recordedBy }}">{{ i.recordedBy }}</option>
          {% endfor %}
      </select>
      </div>
      
      <p>Remarks</p>
      <div class="row">
      <div class="col-mb-3">
      <!--<div class="row-mb-3">-->
      <input type="text" class="form-control" id="Remarks" aria-describedby="Remarks" placeholder="Remarks" name="Remarks">
      </div>
      </div>
      
      <p>Number of labels to print</p>
      <div class="mb-3">
      <input type="number" class="form-control" id="Label_number" aria-describedby="Label_number" placeholder="Label_number" name="Label_number" min="0" value="0" />
      </div>
        
      <!-- Button 2-->
      <div class="mb-3">
      <button type="submit" class="btn btn-secondary" name="action2" onclick="submitForms()" value="VALUE2">Submit</button>
      </div>
      <p></p>
    </form>

<!-- Display added collecting events -->
{% if user.print_events|length > 0 %}
<strong>Collecting-events added:</strong>
    {% for event in user.print_events %}
        {{ event.eventID }}, 
    {% endfor %}
{% endif %}

{% endblock %}