{% extends "base.html" %}
{% block content %}

<form method=post>

    Select collecting event-ID
    <div class="mb-3">
        <select class="form-control selectpicker" id="eventID" name="eventID" data-live-search="true">
            {% for i in events %}
            <option value="{{ i.eventID }}">{{ i.eventID }} {% if i.municipality %}- {{ i.municipality }}{% endif %} {%
                if i.locality_1 %}- {{ i.locality_1 }}{% endif %} {% if
                i.locality_2 %}- {{ i.locality_2 }}{% endif %}
            </option>
            {% endfor %}
        </select>
    </div>

    <!-- Button 1-->
    <div class="d-inline mb-3">
        <button type="submit" class="btn btn-success btn-lg" name="action1" value="VALUE1">Show</button>
        <!-- Button 2-->
        <button type="submit" class="btn btn-secondary btn-lg" name="action2" value="VALUE2">Edit</button>
    </div>
</form>
<br />

{% if event %}
<!-- Display event name -->
<h3> # {{ event.eventID }}{% if event.locality_1 %} - {{ event.locality_1 }}{% endif %}{% if event.locality_2 %} - {{ event.locality_2 }}{% endif %}</h3>
<br />

<!-- Display event data -->
<dl class="row">
    <dt class="col-sm-3">Country</dt>
    <dd class="col-sm-9">{{event.countryCode}}</dd>
    {% if event.county %}
    <dt class="col-sm-3">County</dt>
    <dd class="col-sm-9">{{event.county}}</dd>
    {% endif %}
    {% if event.municipality %}
    <dt class="col-sm-3">Municipality</dt>
    <dd class="col-sm-9">{{event.municipality}}</dd>
    {% endif %}
    {% if event.habitat %}
    <dt class="col-sm-3">Habitat</dt>
    <dd class="col-sm-9">{{event.habitat}}</dd>
    {% endif %}
    {% if event.locality_1 %}
    <dt class="col-sm-3">Locality 1</dt>
    <dd class="col-sm-9">{{event.locality_1}}</dd>
    {% endif %}
    {% if event.locality_2 %}
    <dt class="col-sm-3">Locality 2</dt>
    <dd class="col-sm-9">{{event.locality_2}}</dd>
    {% endif %}
    {% if event.samplingProtocol %}
    <dt class="col-sm-3">Method</dt>
    <dd class="col-sm-9">{{event.samplingProtocol}}</dd>
    {% endif %}
    {% if event.eventDate_1 %}
    <dt class="col-sm-3">Date 1</dt>
    <dd class="col-sm-9">{{event.eventDate_1}}</dd>
    {% endif %}
    {% if event.eventDate_2 %}
    <dt class="col-sm-3">Date 2</dt>
    <dd class="col-sm-9">{{event.eventDate_2}}</dd>
    {% endif %}
    {% if event.recordedBy %}
    <dt class="col-sm-3">Recorded by</dt>
    <dd class="col-sm-9">{{event.recordedBy}}</dd>
    {% endif %}
</dl>

{% if event.decimalLatitude %}
<h5>Coordinates</h5>
<dl class="row">
    <dt class="col-sm-3">Latitude</dt>
    <dd class="col-sm-9">{{event.decimalLatitude}}</dd>
    {% if event.decimalLongitude %}
    <dt class="col-sm-3">Longitude</dt>
    <dd class="col-sm-9">{{event.decimalLongitude}}</dd>
    {% endif %}
    {% if event.coordinateUncertaintyInMeters %}
    <dt class="col-sm-3">Radius</dt>
    <dd class="col-sm-9">{{event.coordinateUncertaintyInMeters}}</dd>
    {% endif %}
</dl>
{% endif %}

{% if event.substrateName %}
<h5>Substrate</h5>
<dl class="row">
    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9">{{event.substrateName}}</dd>
    {% if event.substratePlantPart %}
    <dt class="col-sm-3">Part</dt>
    <dd class="col-sm-9">{{event.substratePlantPart}}</dd>
    {% endif %}
    {% if event.substrateType %}
    <dt class="col-sm-3">Type</dt>
    <dd class="col-sm-9">{{event.substrateType}}</dd>
    {% endif %}
</dl>
{% endif %}

{% if event.eventRemarks %}
<h5>Remarks</h5>
{{event.eventRemarks}}
{% endif %}

<br />
<p></p>
<!-- Show images -->
{% for i in files %}
<strong>Image {{loop.index}}:</strong> {{i.imageCategory}}
<br />
{{i.comment}}
<div>
    <img src="static/images/events/{{i.filename}}" onclick="window.open(this.src, '_blank');" height="200">
</div>
<br />
{% endfor %}

{% endif %}

{% endblock %}