{% extends "base.html" %}
{% block content %}

<form method=post >
    
    <div class="mb-3">
    <p>Select collecting event-ID</p>
    <select class="form-select" aria-label="eventID" name="eventID">
        {% for i in events %}
            <option value="{{ i.eventID }}">{{ i.eventID }} - {{ i.locality_1 }} - {{ i.locality_2 }}</option>
        {% endfor %}
    </select>
    </div>
    
    <!-- Button 3-->
    <div class="mb-3">
        <button type="submit" class="btn btn-success btn-lg" name="action1" value="VALUE1">Show</button>
    </div>
</form>
<br />

{% if event %}
    {% for i in event %}
        <dl class="row">
                <dt class="col-sm-3">Collecting-event:</dt>
                <dd class="col-sm-9">{{i.eventID}}</dd>
                <dt class="col-sm-3">Country code:</dt>
                <dd class="col-sm-9">{{i.countryCode}}</dd>
                {% if i.strand_id %}
                    <dt class="col-sm-3">County:</dt>
                    <dd class="col-sm-9">{{i.county}}</dd>
                {% endif %}
                {% if i.strand_id %}
                    <dt class="col-sm-3">Strand:</dt>
                    <dd class="col-sm-9">{{i.strand_id}}</dd>
                {% endif %}
                {% if i.municipality %}
                    <dt class="col-sm-3">Municipality:</dt>
                    <dd class="col-sm-9">{{i.municipality}}</dd>
                {% endif %}
                {% if i.habitat %}
                    <dt class="col-sm-3">Habitat:</dt>
                    <dd class="col-sm-9">{{i.habitat}}</dd>
                {% endif %}
                {% if i.locality_1 %}
                    <dt class="col-sm-3">Locality 1:</dt>
                    <dd class="col-sm-9">{{i.locality_1}}</dd>
                {% endif %}
                {% if i.locality_2 %}
                    <dt class="col-sm-3">Locality 2:</dt>
                    <dd class="col-sm-9">{{i.locality_2}}</dd>
                {% endif %}
                {% if i.decimalLatitude %}
                    <dt class="col-sm-3">Latitude:</dt>
                    <dd class="col-sm-9">{{i.decimalLatitude}}</dd>
                {% endif %}
                {% if i.decimalLongitude %}
                    <dt class="col-sm-3">Longitude:</dt>
                    <dd class="col-sm-9">{{i.decimalLongitude}}</dd>
                {% endif %}
                {% if i.coordinateUncertaintyInMeters %}
                    <dt class="col-sm-3">Radius:</dt>
                    <dd class="col-sm-9">{{i.coordinateUncertaintyInMeters}}</dd>
                {% endif %}
                {% if i.coordinateUncertaintyInMeters %}
                    <dt class="col-sm-3">Collecting method:</dt>
                    <dd class="col-sm-9">{{i.samplingProtocol}}</dd>
                {% endif %}
                {% if i.eventDate_1 %}
                    <dt class="col-sm-3">Date 1:</dt>
                    <dd class="col-sm-9">{{i.eventDate_1}}</dd>
                {% endif %}
                {% if i.eventDate_2 %}
                    <dt class="col-sm-3">Date 2:</dt>
                    <dd class="col-sm-9">{{i.eventDate_2}}</dd>
                {% endif %}
                {% if i.recordedBy %}
                    <dt class="col-sm-3">Recorded by:</dt>
                    <dd class="col-sm-9">{{i.recordedBy}}</dd>
                {% endif %}
        </dl>
    {% endfor %}
    <br />
    <!-- Show images -->
    {% for i in files %}
        <strong>Image {{loop.index}}:</strong> {{i.imageCategory}}
        <br />
        {{i.comment}}
        <div>
            <img src="static/images/{{i.filename}}" onclick="window.open(this.src, '_blank');" height="200" >
        </div>
        <br />
    {% endfor %}
{% endif %}


{% endblock %}