{% extends "base.html" %}
{% block content %}

<form action="/show_event" method=post>

    Select collecting event
    <div class="mb-3">
        <select class="form-control selectpicker" id="eventID" name="eventID" data-live-search="true">
            {% for i in events %}
            {% if i.eventID == event.eventID %}
            <option selected value="{{ i.eventID }}">{{ i.eventID }} {% if i.municipality %}- {{ i.municipality }}{% endif %} {%
                if i.locality_1 %}- {{ i.locality_1 }}{% endif %} {% if
                i.locality_2 %}- {{ i.locality_2 }}{% endif %}
            </option>
            {% else %}
            <option value="{{ i.eventID }}">{{ i.eventID }} {% if i.municipality %}- {{ i.municipality }}{% endif %} {%
                if i.locality_1 %}- {{ i.locality_1 }}{% endif %} {% if
                i.locality_2 %}- {{ i.locality_2 }}{% endif %}
            </option>
            {% endif %}
            {% endfor %}
        </select>
    </div>

    <!-- Button 1-->
    <div class="d-inline mb-3">
        <button type="submit" class="btn btn-success btn-lg" name="action1" value="VALUE1">Show</button>
        <!-- Button 2-->
        <button type="submit" class="btn btn-secondary btn-lg" name="action2" value="VALUE2">Edit</button>
    </div>
</form>
<br />

{% if event %}

<br />

<!-- Leaflet -->
<div id="map" style="height: 250px;"></div>
<script type="text/javascript">
    // The first parameters are the coordinates of the center of the map, the second parameter is the zoom level
    var map = L.map('map', {fullscreenControl: true}).setView([{{ event.decimalLatitude }}, {{ event.decimalLongitude }}], 11);
    // Add leaflet map as a new layer
    var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
    }).addTo(map);
    // It even opens up a popup when you click it!
    L.marker([{{ event.decimalLatitude }}, {{ event.decimalLongitude }}]).addTo(map)
</script>
<br />

<!-- Display event data in responsive table -->
<div class="table-responsive">
    <table class="table table-sm" style="white-space: nowrap; font-family: Verdana; font-weight: normal; font-style: normal;">
    <!-- Table header -->
    <tr class="border-bottom border-dark align-bottom">
        <th>{{ event.eventID }}{% if event.locality_1 %} - {{ event.locality_1 }}{% endif %}{% if event.locality_2 %} - {{ event.locality_2 }}{% endif %}:</th>
        <th></th>
    </tr>
    <!-- Protocol -->
    {{ event.samplingProtocol | tablerow("Method") | safe }}
    <!-- Date -->
    {{ event.eventDate_1 | format_dates(event.eventDate_2) | striptags | tablerow("Date") | safe }}
    <!-- Habitat -->
    {{ event.habitat | tablerow("Habitat") | safe }}
    <!-- Substrate -->
    {{ event.substrateName | format_substrate(event.substratePlantPart, event.substrateType) | tablerow("Substrate") | safe }}
    <!-- Recorded by -->
    {{ event.recordedBy | tablerow("Recorded by") | safe }}
    <!-- Remarks -->
    {{ event.eventRemarks | tablerow("Remarks") | safe }}

    <tr class="border-bottom border-dark align-bottom">
        <th>Locality:</th>
        <th></th>
    </tr>
    <!-- Country -->
    {{ event.countryCode | tablerow("Country") | safe }}
    <!-- County -->
    {{ event.county | tablerow("County") | safe }}
    <!-- Municipality -->
    {{ event.municipality | tablerow("Municipality") | safe }}
    <!-- Locality name -->
    {{ event.locality_1 | locality_format(event.locality_2) | tablerow("Locality name") | safe }}
    <!-- Coordinates -->
    <tr>
        <td>Coordinates</td>
        <td><a href="http://maps.google.com/maps?q={{ event.decimalLatitude }},{{ event.decimalLongitude }}">{{ event.decimalLatitude }}, {{ event.decimalLongitude }}</a></td>
    </tr>
    <!-- Coordinate uncertainty (m) -->
    {{ event.coordinateUncertaintyInMeters | tablerow("Coordinate uncertainty (m)") | safe }}

</table>
</div>

<br />

<p></p>

<!-- Show images -->
{% for i in files %}
<strong>Image {{loop.index}}:</strong> {{i.imageCategory}}
<br />
{{i.comment}}
<div>
    <img src="static/images/events/{{i.filename}}" onclick="window.open(this.src, '_blank');" height="200">
</div>
<br />
{% endfor %}

<form action="/specimen_list" method=post>

    <!-- Button 3-->
<div class="mb-3">
    <input type="text" name="eventID" id="eventID" value="{{ event.eventID }}" hidden>
    <button type="submit" class="btn btn-secondary btn-sm" name="collecting_event_id" value="collecting_event_id">View specimens</button>
</div>
</form>

{% endif %}

{% endblock %}