{% extends "base.html" %}
{% block content %}

<form action="/specimen_list" method=post>

<!-- 1. Event-label QR-codes -->
Specimen IDs
<div class="mb-3">
    <textarea type="text" class="form-control" id="occurrence_ids" name="occurrence_ids" placeholder="Insert decoded QR-codes here!" ></textarea>
    <small id="qr-dataHelp" class="form-text text-muted">Decoded QR-codes from event-labels</small>
</div>

<!-- 3. Unit qr-codes -->
Unit IDs
<div class="mb-3">
    <textarea type="text" class="form-control" id="unit_ids" name="unit_ids" placeholder="Insert decoded QR-codes here!"></textarea>
    <small id="qr-dataHelp" class="form-text text-muted">Decoded QR-codes from det-labels</small>
</div>

<!-- 2. Select taxa -->
Select taxa
<div class="mb-3">
    <select multiple class="form-select" id="taxon_name" name="taxon_name" placeholder="Click to select ..." multiselect-search="true"
        multiselect-select-all="true" >
        {% for i in dropdown_names %}
        <option value="{{ i }};{{ dropdown_ranks[loop.index0] }}">
            {{ i }} ({{ dropdown_ranks[loop.index0] }})
        </option>
        {% endfor %}
    </select>
</div>

<!-- Button -->
<div class="mb-3">
    <button type="submit" class="btn btn-success btn-lg" name="specimen_find" value="specimen_find">Get specimens</button>
</div>

</form>

<script type="text/javascript" src="{{ url_for('static', filename='multiselect-dropdown.js')}}"></script>

{% endblock %}