{% extends "base.html" %}
{% block content %}

<form action="/specimen_det" method=post>

    <!-- Barcode data -->
    Barcodes
    <div class="mb-3">
        <textarea type="text" class="form-control" id="qr_data" name="qr_data"
            placeholder="Insert decoded barcodes here!" required>{{decoded_QR_codes | safe}}</textarea>
        <small id="qr-dataHelp" class="form-text text-muted">Decoded barcodes from specimen-labels and taxon-labels
            separated by line-breaks</small>
    </div>

    <!-- Select taxon -->
    <div class="mb-3">
        Taxon
        <select class="form-control selectpicker" id="taxonInt" name="taxonInt" data-live-search="true">
            <option value=""></option>
            {% for taxon in taxa %}
            <option value="{{ taxon.taxonInt }}">{{ taxon.scientificName }}</option>
            {% endfor %}
        </select>
        <small id="taxon-help" class="form-text text-muted">This should be specified if a taxon-label-barcode has not been scanned.</small>
    </div>

    <!-- Identified by -->
    Identified by
    <div class="mb-3">
        <select class="form-select" id="identifiedBy" name="identifiedBy">
            {% for name in entomologists %}
            {% if name.recordedBy == user.entomologist_name %}
            <option selected value="{{name.recordedBy}}">{{name.recordedBy}}</option>
            {% else %}
            <option value="{{name.recordedBy}}">{{name.recordedBy}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>

    <!-- lifestage -->
    Lifestage
    <div class="mb-3">
        <select class="form-select" name="lifeStage" id="lifeStage">
            <option selected value="adult">adult</option>
            <option value="nymph">nymph</option>
            <option value="pupa">pupa</option>
            <option value="larva">larva</option>
        </select>
    </div>

    <!-- Preparation -->
    Preparation
    <div class="mb-3">
        <select class="form-select" name="preparations" id="preparations">
            <option selected value="pinned">pinned</option>
            <option value="alcohol">alcohol</option>
            <option value="slide">slide</option>
        </select>
    </div>

    <!-- Individual count -->
    Individual count
    <div class="mb-3">
        <input type="number" class="form-control" id="individualCount" name="individualCount" min="1" value="1">
    </div>


    <!-- Collapse button -->
    <a class="btn btn-secondary mb-3" data-bs-toggle="collapse" href="#detCollapse" role="button" aria-expanded="false"
        aria-controls="detCollapse">Optional input</a>
    <div class="collapse multi-collapse" id="detCollapse">
        <!-- Sex -->
        Sex
        <div class="mb-3">
            <select class="form-select" name="sex" id="sex">
                <option selected value=""></option>
                <option value="female">female</option>
                <option value="male">male</option>
            </select>
        </div>
        <!-- identificationQualifier -->
        Identifiaction qualifier
        <div class="mb-3">
            <select class="form-select" name="identificationQualifier" id="identificationQualifier">
                <option selected value=""></option>
                <option value="cf">cf</option>
                <option value="aff">aff</option>
                <option value="agg">agg</option>
            </select>
        </div>
        <!-- identificationRemarks -->
        Identification remarks
        <div class="mb-3">
            <input type="text" class="form-control" id="identificationRemarks" name="identificationRemarks">
        </div>
        <!-- occurrenceRemarks -->
        Occurrence remarks
        <div class="mb-3">
            <input type="text" class="form-control" id="occurrenceRemarks" name="occurrenceRemarks">
        </div>
        <!-- associatedTaxa -->
        Associated taxa
        <div class="mb-3">
            <input type="text" class="form-control" id="associatedTaxa" name="associatedTaxa">
        </div>
        <!-- associatedReferences -->
        Associated references
        <div class="mb-3">
            <input type="text" class="form-control" id="associatedReferences" name="associatedReferences">
        </div>
        <!-- verbatimLabel -->
        Verbatim label
        <div class="mb-3">
            <input type="text" class="form-control" id="verbatimLabel" name="verbatimLabel">
        </div>
    </div>

    <!-- Button -->
    <div class="mb-3">
        <button type="submit" class="btn btn-success btn-lg" name="action1" value="VALUE1">Submit</button>
    </div>

</form>

{% endblock %}