{% extends "base.html" %}
{% block content %}

<form method=post enctype=multipart/form-data>

     <!-- occurrenceID -->
    <div class="mb-3">
        occurrenceID
        <input type="text" class="form-control" aria-label="occurrenceID" name="occurrenceID">
    </div>

     <!-- Image category -->
    <div class="mb-3">
        Image category
        <select class="form-select" aria-label="imageCategory" name="imageCategory">
            {% for i in imagecat %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- Comment -->
    <div class="mb-3">
        Comment
        <input type="text" class="form-control" aria-describedby="comment" placeholder="comment" name="comment">
    </div>

    <!-- Select images -->
    <div class="mb-3">
        <label for="files">Select images</label>
        <input type=file id="imgInp" multiple="multiple" accept="image/jpeg, image/png, image/jpg" class="form-control"
            name=files onchange="loadFiles(event)" >
        <div class="img_container" id="result">
        </div>
    </div>

    <!-- Button 1 and 2 -->
    <div class="d-inline mb-3">
        <!-- Button 1-->
        <button type="submit" class="btn btn-success" name="action1" value="VALUE1">Upload</button>
        <!-- Button 2-->
        <button type="button" class="btn btn-secondary" name="clear_files" onclick="clearFiles()" >Clear</button>
    </div>
    <p></p>

</form>

<script>
    // Find document variable
    const output = document.querySelector("#result");

    // Get input images and loop over each image
    function loadFiles(event) {
        output.innerHTML = ""
        for (let i = 0; i < event.target.files.length; i++) {
            var img_item = document.createElement("div"); // Create new div element
            img_item.className = "img_item";
            img_item.appendChild(imageAppend(event.target.files[i])); // Append element to img_item
            output.appendChild(img_item);
        }
    }

    function clearFiles() {
        output.innerHTML = ""
        document.getElementById("imgInp").value = ""
    }

    // Append image to output
    function imageAppend(x) {
        var image = document.createElement("img"); // Create new image element
        image.src = URL.createObjectURL(x); // Add soure to image element
        image.id = x.name; // Add name to image element
        // free memory
        image.onload = function () {
            URL.revokeObjectURL(image.src); // free memory
        };
        // Return img element
        return (image);
    }

</script>

{% endblock %}