{% extends "base.html" %}
{% block content %}



{% if occurrences %}

<!-- Leaflet -->
<div id="map" style="height: 300px;"></div>

<!-- leaflet script -->
<script type="text/javascript">
    // The first parameters are the coordinates of the center of the map, the second parameter is the zoom level
    var map = L.map('map', {fullscreenControl: true}).setView([65,5], 3);
    // Add leaflet map as a new layer
    var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
    }).addTo(map);
    // It even opens up a popup when you click it!
    {% for event in events %}
    var marker{{ loop.index }} = L.marker([{{ event.decimalLatitude }}, {{ event.decimalLongitude }}]).addTo(map);
    marker{{ loop.index }}.bindPopup('<form action="/event_show" method="post"><input type="text" name="eventID" id="eventID" value="{{ event.eventID }}" hidden><button type="submit" name="action1" value="VALUE1">{{ event.eventID }}</button></form>');
    {% endfor %}
</script>

<br>

<h4 style="text-align: center;"> {{occ_len}} specimens / {{event_len}} collecting-events / {{taxa_len}} taxa </h4>

<!-- Statistics -->
<div class="row flex-nowrap overflow-auto" style="height: 350px;">
    <div class="col-4" id="occurrence_year_plot" style="width:350px"></div>
    <div class="col-4" id="occurrence_month_plot" style="width:350px"></div>
    <div class="col-4" id="occurrence_method_plot" style="width:350px"></div>
    <div class="col-4" id="occurrence_taxonRank_plot" style="width:350px"></div>
    <div class="col-4" id="occurrence_habitat1_plot" style="width: 350px;"></div>
    <div class="col-4" id="occurrence_habitat2_plot" style="width: 350px;"></div>
    <div class="col-4" id="occurrence_order_plot" style="width:350px"></div>
    <div class="col-4" id="occurrence_family_plot" style="width:350px"></div>
    <div class="col-4" id="occurrence_genus_plot" style="width:350px"></div>
    <div class="col-4" id="taxa_year_plot" style="width:350px"></div>
    <div class="col-4" id="met_taxon_count_plot" style="width:350px"></div>
    <div class="col-4" id="taxa_taxonRank_plot" style="width:350px"></div>
</div>

<!-- output table -->
<div class="table-responsive">
<table class="table table-lg table-hover" style="white-space: nowrap; font-family: Verdana; font-weight: normal; font-style: normal;" >
    <tr>
        <th></th>
        <th>Rank</th>
        <th>Taxon</th>
        <th>Sex</th>
        <th>Det.</th>
        <th>Country</th>
        <th>Municipality</th>
        <th>Locality</th>
        <th>Habitat</th>
        <th>Date</th>
        <th>Method</th>
        <th>Leg.</th>
        <th>Event-ID</th>
    </tr>

    {% for rank in ranks %}
    {% for occurrence in occurrences %}
    {% if occurrence.taxonRank == rank %}
    
    <!-- Add colour to different taxonomic ranks -->
    {% if rank == "species" or rank == "spnov" %}
    <tr class="table-success">
    {% elif rank == "genus" or rank == "species-group" %}
    <tr class="table-primary" >
    {% else %}
    <tr class="table-secondary" >
    {% endif %}
        <!-- Row number -->
        <td><a class="btn btn-outline-dark btn-sm" href="{{ url_for('specimens.specimen_view', occurrence_id=occurrence.occurrenceID) }}" role="button">Specimen</a></td>
        <!-- Taxon rank -->
        <td>{{ occurrence.taxonRank }}</td>
        <!-- Taxon -->
        <td>{{ occurrence.scientificName | scn_italic (occurrence.taxonRank, occurrence.scientificNameAuthorship) | safe }} {{occurrence.scientificNameAuthorship | if_present}} {% if occurrence.identificationQualifier %}, {{occurrence.identificationQualifier}}{% endif %}</td>
        <!-- Sex -->
        <td>{{ occurrence.sex | if_present }}</td>
        <!-- Identified by -->
        <td>{{ occurrence.identifiedBy }}, {{ occurrence.dateIdentified | string_to_date | date_format("%B %Y") }}</td>
        <!-- Country -->
        <td>{{ occurrence.country | if_present }}</td>
        <!-- Municipality -->
        <td>{{ occurrence.municipality | if_present }}</td>
        <!-- Locality -->
        <td>{{ occurrence.locality_1 | locality_format(occurrence.locality_2) }}</td>
        <!-- Habitat -->
        <td>
            {% if occurrence.substrateName %}
            <i>{{ occurrence.substrateName|scn_format}}</i>-{{ occurrence.substratePlantPart }}-{{ occurrence.substrateType }}
            {% elif occurrence.habitat %}
            {{ occurrence.habitat }}
            {% endif %}
        </td>
        <!-- Date -->
        <td>{{ occurrence.eventDate_1 | format_dates(occurrence.eventDate_2) | striptags }}</td>
        <!-- Method -->
        <td>{{ occurrence.samplingProtocol | if_present }}</td>
        <!-- Collected by -->
        <td>{{ occurrence.recordedBy | leg_format | if_present }}</td>
        <!-- Event-ID -->
        <td>
            <form action="/event_show" method="post">
                <input type="text" name="eventID" id="eventID" value="{{ occurrence.eventID }}" hidden>
                <button type="submit" class="btn btn-outline-dark btn-sm" name="action1" value="VALUE1">{{ occurrence.eventID }}</button>
            </form>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
    {% endfor %}
</table>
</div>


<script>

    function myBarplot(myplot, orient, type, title, yArray, xArray) {
      let data
      if (type == "pie") {
        data = [{labels:xArray, values:yArray, type:type, orientation:orient, marker:{color:"rgba(0,0,255,0.6)"}, textinfo: 'none'}];
      } else {
        data = [{x:xArray, y:yArray, type:type, orientation:orient, marker:{color:"rgba(0,0,255,0.6)"}}];
      }
      const layout = {title:title, showlegend: false};
      return Plotly.newPlot(myplot, data, layout, {displayModeBar: false});
    }
    
    myBarplot("occurrence_year_plot", "v", "bar", "Year", {{ occurrence_year["count"] }}, {{ occurrence_year["label"] | safe }})
    myBarplot("occurrence_month_plot", "v", "bar", "Month", {{ occurrence_month["count"] }}, {{ occurrence_month["label"] | safe }})
    myBarplot("occurrence_method_plot", "v", "bar", "Method", {{ occurrence_method["count"] }}, {{ occurrence_method["label"] | safe }})
    myBarplot("occurrence_habitat1_plot", "v", "bar", "Habitat (level 1)", {{ occurrence_habitat1["count"] }}, {{ occurrence_habitat1["label"] | safe }})
    myBarplot("occurrence_habitat2_plot", "v", "pie", "Habitat (level-2)", {{ occurrence_habitat2["count"] }}, {{ occurrence_habitat2["label"] | safe }})
    myBarplot("occurrence_order_plot", "v", "bar", "Order", {{ occurrence_order["count"] }}, {{ occurrence_order["label"] | safe }})
    myBarplot("occurrence_family_plot", "v", "pie", "Family", {{ occurrence_family["count"] }}, {{ occurrence_family["label"] | safe }})
    myBarplot("occurrence_genus_plot", "v", "pie", "Genus", {{ occurrence_genus["count"] }}, {{ occurrence_genus["label"] | safe }})
    myBarplot("occurrence_taxonRank_plot", "v", "bar", "Identified to rank", {{ occurrence_taxonRank["count"] }}, {{ occurrence_taxonRank["label"] | safe }})
    myBarplot("taxa_year_plot", "v", "bar", "Identifications/Year", {{ taxa_year["count"] }}, {{ taxa_year["label"] | safe }})
    myBarplot("taxa_taxonRank_plot", "v", "bar", "Taxa/taxon-rank", {{ taxa_taxonRank["count"] }}, {{ taxa_taxonRank["label"] | safe }})
    myBarplot("met_taxon_count_plot", "v", "bar", "Taxa/Method", {{ met_taxon_count["count"] }}, {{ met_taxon_count["label"] | safe }})
 
</script>

{% else %}
<br>
<h6>No specimens found</h6>
{% endif %}

{% endblock %}