{% extends "base.html" %}
{% block content %}

<form method=post>

    <!-- Select taxa -->
    Select taxa
    <div class="mb-3">
        <select multiple class="form-select" id="taxon_name" name="taxon_name" placeholder="Click to select ..." multiselect-search="true"
            multiselect-select-all="true" >
            {% for i in dropdown_names %}
            <option value="{{ i }};{{ dropdown_ranks[loop.index] }}">
                {{ i }} ({{ dropdown_ranks[loop.index] }})
            </option>
            {% endfor %}
        </select>
    </div>

    <!-- Image categories -->
    Image categories
    <div class="mb-3">
        <select multiple class="form-select" aria-label="image_categories" name="image_categories" id="image_categories" placeholder="Click to select ..." multiselect-search="true"
        multiselect-select-all="true" multiselect-max-items="10" multiselect-hide-x="false">
            {% for i in imagecat %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- Button 1-->
    <div class="d-inline mb-3">
        <button type="submit" class="btn btn-success btn-lg" name="action1" value="VALUE1">Show</button>
    <!-- Button 2-->
        <button type="submit" class="btn btn-secondary btn-lg" name="action2" value="VALUE2">Add landmarks</button>
    </div>

    <!-- Show images -->
    {% for taxa in imaged_taxa %}

    <h5>
        <!-- <strong>Taxon:</strong>-->
        {% if taxa.taxonRank == "species" %}
        <em>{{taxa.genus}} {{taxa.specificEpithet}}</em> {{taxa.scientificNameAuthorship}}
        {% elif taxa.taxonRank == "genus" %}
        <em>{{taxa.genus}}</em>
        {% else %}
        {{taxa.scientificName}}
        {% endif %}
    </h5>

    <!-- Specimen images -->
    {% for image in images %}
    {% if image.scientificName == taxa.scientificName %}

    <!--<strong>{{ image.imageCategory[0]|upper}}{{image.imageCategory[1:] }}</strong>-->
    {% if image.comment %}
    <br />
    {{image.comment}}
    {% endif %}
    <div>
        <img src="{{dir_path}}/compressed/{{image.filename}}" onclick="window.open(window.location.origin+'/{{dir_path}}/specimens/{{image.filename}}', '_blank');" width="400">
    </div>
    <br />

    {% endif %}
    {% endfor %}

    <!-- Illustrations -->
    {% for image in illustration_images %}
    {% if image.scientificName == taxa.scientificName %}
    <!-- <strong>{{ image.category[0]|upper}}{{image.category[1:] }}</strong> -->
    <div>
        <img src="{{dir_path}}/compressed/{{image.filename}}" onclick="window.open(window.location.origin+'/{{dir_path}}/illustrations/{{image.filename}}', '_blank');" width="400">
        <!-- <img src="{{dir_path}}/illustrations/{{image.filename}}" onclick='imagePopup(this.src, "{{ image.scientificName }}", "{{ image.remarks }}", "Rights-holder: {{ image.rightsHolder }}");' width="400" > -->
    </div>
    <br />

    {% endif %}
    {% endfor %}
    {% endfor %}

    <script type="text/javascript" src="{{ url_for('static', filename='multiselect-dropdown.js')}}"></script>
    <!-- 
    <script type="text/javascript">
        function image_window(input) {
            var w = window.open(input, '_blank');
            //w.document.write('<title>My PDF File Title</title>');
            setTimeout(() => w.document.title = 'This is a test',0);
        }

        function imagePopup(myImage, myTitle, myCaption, mySource) {
            var myWindow = window.open("", myTitle, "_blank", "toolbar=no,scrollbars=no,resizable=yes");
            myWindow.document.write("<head><title>" + myTitle + "</title></head>");
            myWindow.document.write("<big><b>Figure Caption:</big></b>" + myCaption + "<p>");
            myWindow.document.write("<big><b>Figure Source:</big></b>" + mySource + "<p>");
            myWindow.document.write("<img src=" + myImage + ">");
        return myWindow;
        };
    </script>
    -->

</form>
{% endblock %}