
<!doctype html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Paper CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css">

<style>

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 1px;
  padding: 0px;
  background-color: #ffffff;
}

.label {
    width:120px;
    height:30px;
    font-size: 5px;
    line-height: 100%;
    margin-bottom:1px;
    font-family: Verdana;
    font-weight: normal;
    font-style: normal;
    white-space:nowrap;
    background-color: rgb(255, 255, 255);
}

.label img {
   float:left;
   height:100%;
   margin-right:2px;
}

</style>
</head>

<!-- Paper-CSS -->
<body class="A4">
<section class="sheet padding-10mm">

<!-- Grid -->
<var class="grid-container">

<!-- For each scientific name -->
{% for det in dets %}
<!-- loop over det-data to find matching scientific name -->
{% for data in det_data %}
{% if data.scientificName == det.scientificName %}
<!-- Repete n times -->
{% for n in range(det.print_n) %}
<var class='label'>
    <img src="static/uploads/{{user.id}}_detqrlabel_{{det.id}}_{{n}}.png">
    <span>
      <!-- Break if no author name -->
      {% if not data.scientificNameAuthorship %}
      <br>
      {% endif %}
      <!-- Line 1: Scientific name -->
      {% if data.taxonRank == "species"%}
      <p style="margin: 1px; font-size: 135%;">
      {% else %}
      <p style="margin: 1px; font-size: 170%;">
      {% endif %}
      {{ data.scientificName | scn_italic_ex_author (data.taxonRank, data.scientificNameAuthorship) | safe }}{% if det.identificationQualifier %} <small><b>{{ det.identificationQualifier }}.</b></small>{% endif %}
      </p>
      <!-- Line 2: Author -->
      <p>
      {% if data.scientificNameAuthorship %}
      {{ data.scientificNameAuthorship }}
      {% endif %}
      </p>
      <!-- Line 3: family/rank and sex -->
      <p style="font-size: 130%; font-weight: bold">
          {% if data.taxonRank == "species" or data.taxonRank == "genus" or data.taxonRank == "spnov" or data.taxonRank == "species-group" %}
          {{ data.family }}
          {% else %}
          {{ data.taxonRank | capitalize }}
          {% endif %}
      {% if det.sex %}
      <span style="float: right; margin-right: 20%; font-size: larger;">
        {% if det.sex=="f" %}&#9792;{% else %}&#9794;{% endif %}
      </span>
      {% endif %}
      </p>
    </span>
</var>

{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}


</var>

</section>

</body>
