<p id="demo"></p>

<script>
const output = document.querySelector("#demo");

for (let i = 0; i < 5; i++) { 
	var inner_grid = document.createElement("p");
	inner_grid.innerHTML = i + 6;
	output.appendChild(inner_grid);
}
</script>

<script>
    document.querySelector("#files").addEventListener("change", (e) => {
        if (window.File && window.FileReader && window.FileList && window.Blob) {
            const files = e.target.files;
            //const output = document.querySelector("#result");
            var inner_grid = document.createElement("div");
            inner_grid.className = 'inner-grid';

            var index = 0
            for (let i = 0; i < files.length; i++) {
                index++
                if (index == 4) {
                    var inner_grid = document.createElement("div");
                    inner_grid.className = 'inner-grid';
                    var index = 0
                }
                if (!files[i].type.match("image")) continue;
                const picReader = new FileReader();
                picReader.addEventListener("load", function (event) {
                    const picFile = event.target;
                    //const div = document.createElement("div");
                    inner_grid.innerHTML = '<img class="thumbnail" src="${picFile.result}" title="${picFile.name}"/>';
                    output.appendChild(inner_grid);
                    console.log(i)
                    console.log(inner_grid)
                });
                picReader.readAsDataURL(files[i]);
            }
        } else {
            alert("Your browser does not supprot the File API")
        }
    })
</script>